Package: com.twickd.spdxs
Name: Shy Page Dots XS
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: Hide page dots when not scrolling
Maintainer: Hugo
Author: ryst
Section: Tweaks
Tag: compatible_min::ios11.1, compatible_max::ios12.1.2

