Package: com.twickd.shypagedots2
Name: Shy Page Dots 2
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: Hide page dots when not scrolling
Maintainer: Hugo
Author: ryst
Section: Tweaks
